#logo{
    width: 200px;
    height: 200px;
}

#textoLogo{
    font-style: italic;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 90px;
    right: 0;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.tamañoProductos{
    width: 200px;
    height: 200px;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
    padding: 20px 0;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
    box-sizing: border-box;
}

.productos li:hover{
    border-color: #c78c19;
    .tamañoProductos{
        width: 250px;
        height: 250px;
        transition: 2s;
        cursor:pointer;
    }
}

.productos li:active{
    border-color: aquamarine;
}

.separadorInvisible{
    color: white;
    padding: 30px;
}

.descripcionProducto{
    font-size: 18px;
}

.precioProducto{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.productos li:hover h2{
    font-size: 33px;
}

#tamañoFooter{
    width: 200px;
    height: 200px;
}

#footerOSAKA{
    font-weight: bold;
    font-size: 20px;
}

.copyright{
    font-size: 13px;
    margin: 20px;
}

footer{
    text-align: center;
    background-color: #c78c19;
    padding: 40px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputPadres{
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 30px 0;
}

.formulario{
    font-size: 25px;
    padding: 10px 25px;
    width: 50%;
    background-color: #c78c19;
    margin: 0 25%;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s all;
}

.formulario:hover{
    transform: scale(1.2);
    background-color: #ffaa00;
}

.formulario:active{
    background-color: aquamarine;
}

table{
    margin: 40px 40px;
}

thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 20px;
    padding: 8px 15px;
}